@font-face{
    font-family: 'InterTight';
    src: url(fonts/inter-tight/InterTight-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'ClashDisplay';
    src: url(fonts/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf);
}


body{
    font-family: 'InterTight';
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav-logo{
    font-family: 'ClashDisplay';
    margin-left: 70px;
    font-weight: bold;
    font-size: 30px;
}

.nav-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 14px 0px 14px 0px;
    
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 130px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    
}

.nav-home{
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'InterTight';
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background: transparent;
}

.nav-home:hover {
    color: white;
    box-shadow: rgba(255, 255, 255, 0.2) 0 -70px 18px -14px inset,rgba(255, 255, 255, 0.2) 0 1px 2px,rgba(255, 255, 255, 0.2) 0 8px 16px;
    /* transform: scale(1.05) ; */
}

.nav-about{
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'InterTight';
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background: transparent;
}

.nav-about:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0 -70px 18px -14px inset,rgba(255, 255, 255, 0.2) 0 1px 2px,rgba(255, 255, 255, 0.2) 0 8px 16px;
    /* transform: scale(1.05) ; */
}

.nav-service{
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'InterTight';
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background: transparent;
}

.nav-service:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0 -70px 18px -14px inset,rgba(255, 255, 255, 0.2) 0 1px 2px,rgba(255, 255, 255, 0.2) 0 8px 16px;
    /* transform: scale(1.05) ; */
}

.nav-project{
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'InterTight';
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background: transparent;
}

.nav-project:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0 -70px 18px -14px inset,rgba(255, 255, 255, 0.2) 0 1px 2px,rgba(255, 255, 255, 0.2) 0 8px 16px;
    /* transform: scale(1.05) ; */
}

a{
    text-decoration:none ;
    color: white;
}


.nav-button {
  /* background-color: #c2fbd7; */
  border-radius: 100px;
  /* box-shadow: rgba(249, 249, 249, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'InterTight';
  font-weight: 500;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: transparent;
  /* margin-right: 70px; */
  box-shadow: rgba(255, 255, 255, 0.2) 0 -70px 18px -14px inset,rgba(255, 255, 255, 0.2) 0 1px 2px,rgba(255, 255, 255, 0.2) 0 8px 16px;
}

.nav-button:hover {
    color: black;
    box-shadow: rgba(255, 255, 255, 0.9) 0 -70px 18px -14px inset,rgba(255, 255, 255, 0.9) 0 1px 2px,rgba(255, 255, 255, 0.9) 0 8px 16px;
    /* transform: scale(1.05) ; */
}

.menu-toggle{
    display: none;
}

.hamburger-icon{
    display: none;
    cursor: pointer;
}

@media(min-width: 1470px){
    .nav-button{
        margin-right: 70px;
    }
}

@media (max-width: 1470px) {
    .nav-links{ 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        background: rgba(0, 0, 0, 0.902);
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        
        margin: 0;
        flex-direction: column;
        gap: 25px;
    }
    #menu-toggle:checked ~ .nav-links{
        max-height: 50vh;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .hamburger-icon{
        display: block;
        padding: 0 40px 0 0;
    }
    label{
        color: white;
        font-size: 25px;
    }
}




