
.research{
    display: flex;
    justify-content: center;
    margin: 120px 57px 80px 57px;
    /* gap: 10px; */
}

.box1{
    color: white;
    height: 220px;
    width: 410px;
    border: 0.5px solid #808080;
    border-color: #7C7C7C;
    /* display: flex; */
    /* justify-content: center; */
    padding: 30px 30px 30px 30px;
    animation: appear linear;
    animation-timeline: view();
}

.box2{
    color: white;
    height: 220px;
    width: 410px;
    border: 0.5px solid #808080;
    border-color: #7C7C7C;
    /* display: flex; */
    /* justify-content: center; */
    padding: 30px 30px 30px 30px;
    animation: disappear linear;
    animation-timeline: view();
}

.box3{
    color: white;
    height: 220px;
    width: 410px;
    border: 0.5px solid #808080;
    border-color: #7C7C7C;
    /* display: flex; */
    /* justify-content: center; */
    padding: 30px 30px 30px 30px;
    animation: appear linear;
    animation-timeline: view();
}

.box-number{
    font-family: 'ClashDisplay';
    background-color: white;
    color: black;
    height: 54px;
    width: 54px;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-heading{
    font-family: 'ClashDisplay';
    font-weight: 650;
    font-size: 28px;
}

.box-description{
    font-family: 'InterTight';
    font-size: 16px;
}

@keyframes appear {
    from { transform: translateY(100px); opacity: 1; }
    to { transform: translateY(-100px); opacity: 1; }
}

@keyframes disappear {
    from { transform: translateY(-100px); opacity: 1; }
    to { transform: translateY(100px); opacity: 1; }
}

@media (max-width:1200px) {
    .research{
        justify-content: center;
        
    }
    .box-heading{
        font-size: 25px;
    }
    .box-description{
        font-size: 14px;
    }
    .box1{
        height: 180px;
        width: 400px;
    }
    .box2{
        height: 180px;
        width: 400px;
    }
    .box3{
        height: 180px;
        width: 400px;
    }
}

@media (max-width: 1100px ){
    .box-heading{
        margin: 17px 0px;
    }
    
    .box-number{
        height: 45px;
        width: 45px;
    }
    .box1{
        height: 170px;
        width: 380px;
    }
    .box2{
        height: 170px;
        width: 380px;
    }
    .box3{
        height: 170px;
        width: 380px;
    }

}

@media (max-width: 930px ){
    .box1{
        animation: none;
        height: 180px;
        width: 400px;
    }
    .box2{
        animation: none;
        height: 180px;
        width: 400px;
    }
    .box3{
        animation: none;
        height: 180px;
        width: 400px;
    }

    .research{
        /* justify-content: flex-start; */
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 540px ){
    .box1{
        height: 180px;
        width: 320px;
    }
    .box2{
        height: 180px;
        width: 320px;
    }
    .box3{
        height: 180px;
        width: 320px;
    }
}

@media (max-width: 440px ){
    .research{
        margin-left: 16px;
        margin-right: 16px;
    }
    .box1{
        height: 180px;
        width: 320px;
    }
    .box2{
        height: 180px;
        width: 320px;
    }
    .box3{
        height: 180px;
        width: 320px;
    }
}
